
body {
  background-color:lemonchiffon;
  color: #2c3e50;
}
/* .btn {
  -webkit-appearance: none;
  cursor: pointer;
  color: green;
  padding: 10px 20px;
  outline: none;
  border: none;
} */
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

